* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: aliceblue;
}

:root  {
    --primary-color: #007bff;
    --secondary-color: #00447f;
}

body   {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;

}

.menu {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    background-color: var(--secondary-color);
    top: 100%;
    left: 0;
    width: 120px;
    display: none;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.menu-dropdown li {
    padding: 10px;
    list-style: none;
    color: aliceblue;
}

.menu:hover .menu-dropdown {
    display: flex;
}

.search {
    background-color: transparent;
    border: 2px solid var (--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit; 
}

.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: aliceblue;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
}

.movie img {
    width: 100%;
    box-shadow: #000000 0px 0px 50px;
}

.infos {
    background-color: var(--secondary-color);
    border-radius: 0 0 10px 10px;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.overview {
    position: relative;
    
}


.overview h5 {
    padding: 10px;
}

.overview p {
    border-radius: 10px;
    text-align: justify;
    display: none;
    color: aliceblue;

}

.overview:hover p {
    background-color: #00447fdf;
    display: flex;
    position: absolute;
    width: 300px;
    transform: translateY(-100%);
    padding: 5px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    background-color: #007bff;
    padding: 5px;
    border-radius: 10px;
}