* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: aliceblue;
}

:root  {
    --primary-color: #007bff;
    --secondary-color: #00447f;
}

body   {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container {
    display: flex;
    gap: 15px;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-image {
    width: 50%;
    height: 50%;
    border-radius: 8px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.card-description {
    font-size: 0.9em;
    margin: 20px 0;
}

.card-details {
    font-size: 0.8em;
    color: #888;
}

.card-details strong {
    color: #333;
}